@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Poppins:400,600);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q {
  &:before, &:after {
    content: "";
    content: none;
  }
}

blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}

a{
	text-decoration: none;
	&:hover, &:focus{
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  		opacity: 0.8;
	}
}



a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  font-size: 14px;
  line-height: 1.6;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333;
}

.container {
  width: 980px;
  margin: 0 auto;
}

a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

header {
  width: 100%;
  height: 108px;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  .container {
    position: relative;
    h1 {
      font-size: 0.8em;
      color: #1C1C1C;
    }
    h2 {
      float: left;
      line-height: 0;
      margin: 21px 0;
    }
  }
  .h-right {
    float: right;
  }
  .container {
    .tel {
      float: left;
      line-height: 0;
      margin: 36px 0 36px 0px;
    }
    .mail {
      float: left;
      line-height: 0;
      margin: 30px 0 30px 30px;
    }
    #btn_menu {
      text-align: center;
      float: right;
      width: 64px;
      height: 64px;
      margin: 12px 0;
      position: relative;
      cursor: pointer;
      i {
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-transition-delay: 0s;
        transition: all 0.5s ease-in-out 0s;
        width: 40px;
        height: 16px;
        border-top: solid 2px #333;
        border-bottom: solid 2px #333;
        position: absolute;
        top: 20px;
        left: 12px;
        &:before, &:after {
          -moz-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out;
          -webkit-transition-delay: 0s;
          transition: all 0.5s ease-in-out 0s;
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: #333;
          position: absolute;
          top: 7px;
          left: 0;
        }
      }
      span {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 0.64286rem;
        line-height: 1;
        width: 64px;
        height: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        &:after {
          content: "MENU";
        }
      }
      &:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
        opacity: 0.8;
      }
      &.close {
        i {
          border-color: transparent;
          &:before {
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
          }
          &:after {
            -moz-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
            -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
          }
        }
        span:after {
          content: "CLOSE";
        }
      }
    }
    nav {
      -moz-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out;
      -webkit-transition-delay: 0s;
      transition: all 0.5s ease-in-out 0s;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      position: absolute;
      top: 110px;
      right: 0;
      width: 240px;
      text-align: center;
      ul {
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: solid 1px #fff;
        background: #630;
        li {
          border-bottom: dotted 1px #fff;
          a {
            display: block;
            -moz-transition: all 0.5s ease-in-out 0s;
            -o-transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out;
            -webkit-transition-delay: 0s;
            transition: all 0.5s ease-in-out 0s;
            font-size: 1rem;
            line-height: 40px;
            text-decoration: none;
            color: #fff;
            height: 0;
            -moz-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
            &:hover {
              background: #F60;
            }
          }
        }
      }
      &.active {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
		z-index: 1000;
        a {
          height: 40px;
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }
  }
}

main {
  min-width: 980px;
  figure {
    position: relative;
    line-height: 0;
    height: 666px;
    #top01 {
      float: left;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease;
      -webkit-transition-delay: 0s;
      transition: all 0.5s ease 0s;
    }
    #top02 {
      float: right;
      margin-top: 20px;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease;
      -webkit-transition-delay: 0s;
      transition: all 0.5s ease 0s;
    }
    ul li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/slide01.jpg) center center no-repeat;
      background-size: cover;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease;
      -webkit-transition-delay: 0s;
      transition: all 0.5s ease 0s;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      z-index: -1;
      a {
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -9999px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      &.active {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
      }
      &:nth-child(4).active, &:nth-child(5).active {
        z-index: 1;
      }
    }
  }
	/* 問い合わせバナー */
	.toiawase-banner{
		position:fixed;
		width: 100%;
		bottom:0;
		left:0;
		z-index: 1000;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background-color: #000000;
			opacity: 0.5;
		}
		.inner{
			width: 1062px;
			margin: 8px auto;
			position: relative;
			.toiawase-back{
				position: relative;
				width: 919px;
			}
			a{
				display: block;
			}
			.toiawase-tel{
				position: absolute;
				top: 34px;
				left: 14px;
				img{
					max-width: 443px;
				}
			}
			.toiawase-mail{
				position: absolute;
				left: 496px;
				top: 9px;
				img{
					max-width: 237px;
				}
			}
		}
	}
	.top-back{
		display: block;
		position: fixed;
		bottom: 19px;
		right:203px;
		z-index: 1000;
	}

}

@media screen and (max-width:980px){
	main{		
		.toiawase-banner{
			.inner{
				width:100%;
				padding:5px;
				.toiawase-back{
					width:87%;
				}
				
				.toiawase-tel{
					width:42%;
					left:1.3%;
					top:32%;
					img{
						width:100%;
					}
				}
				.toiawase-mail{
					width:25%;
					left:45%;
					top:8%;
					img{
						width:100%;
					}
				}
			}
		}
		.top-back{
			bottom: 5%;
			right: 2%;
		}
	}
}

@media screen and (max-width:640px){
	main{		
		.toiawase-banner{
			display: none !important;
		}
	}
}



/*パーテーションストア誘導セクション*/

#PS-banner {
  margin-top: 100px;
  font-size: 0.85714rem;
  color: #630;
}

main {
  #PS-banner {
    h3 {
      font-size: 1.7rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 1.4rem;
      font-weight: 700;
    }
    p {
      margin: 0px auto;
      font-size: 1.2rem;
    }
    img {
      max-width: 100%;
    }
  }
  #intro01 {
    background: url(../images/bg02.png) left top no-repeat;
    margin-top: 100px;
    padding-top: 230px;
    font-size: 0.85714rem;
    color: #630;
    h4 {
      line-height: 0;
      margin-bottom: 20px;
    }
  }
  #intro02 {
    ul {
      margin-top: 40px;
      float: left;
      width: 560px;
      li {
        border-bottom: dashed 1px #630;
        font-size: 1.28571rem;
        line-height: 40px;
        color: #630;
        font-weight: 700;
        &:before {
          content: "◎";
          display: inline-block;
          padding: 0 10px;
          color: #F60;
          font-weight: 400;
        }
      }
    }
    .btn {
      margin-top: 20px;
      float: right;
      display: block;
      text-align: right;
      width: 345px;
      .mail {
        margin-right: -15px;
      }
    }
  }
  #intro03 {
    margin-top: 100px;
    background: url(../images/bg03.jpg) center center no-repeat;
    background-size: cover;
    padding: 70px 0;
    color: brown;
    h5 {
      font-size: 1.42857rem;
      font-weight: 700;
      color: #F60;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 2.71429rem;
      font-weight: 700;
      margin-bottom: 40px;
    }
    p {
      font-size: 0.85714rem;
      line-height: 2;
    }
    h6 {
      margin-top: 90px;
      text-align: right;
      font-size: 1.42857rem;
      font-weight: 700;
      span {
        font-size: 2.14286rem;
      }
    }
  }
  #intro04 {
    background: url(../images/pattern01.png) center center repeat;
    padding: 30px 0;
    h4 {
      text-align: center;
    }
    ul li {
      float: left;
      color: #630;
      background: #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: solid 5px #630;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      width: 32%;
      margin-top: 2%;
      margin-right: 2%;
      transition: 0.3s;
      &:nth-child(3n) {
        margin-right: 0;
      }
      h5 {
        font-size: 2.28571rem;
        line-height: 1;
        margin: 20px;
        text-align: center;
        font-weight: 700;
      }
      p {
        font-size: 0.85714rem;
        line-height: 1.6;
        margin: 0 20px 20px 20px;
      }
      a {
        color: #630;
        text-decoration: none;
        display: block;
        width: 100%;
      }
      &:hover, &:focus {
        opacity: 0.8;
      }
    }
  }
  h2 {
    background: url(../images/mark.png) left center no-repeat;
    height: 100px;
    padding-left: 125px;
    border-bottom: dashed 1px #333;
    color: #630;
    font-size: 2.71429rem;
    line-height: 1;
    text-align: left !important;
    margin-bottom: 80px;
    img {
      display: block;
      padding: 20px 0 10px 15px;
    }
    span span {
      font-size: 2.14286rem;
    }
    strong {
      font-weight: 700;
    }
  }
  #plan {
    margin-top: 120px;
    .plan {
      h3 {
        font-size: 4.57143rem;
        line-height: 1;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin-bottom: 20px;
        color: #630;
        img {
          display: block;
          margin-bottom: 20px;
        }
        span {
          display: inline-block;
          font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
          font-size: 1.28571rem;
          margin-left: 15px;
        }
      }
      > p {
        font-size: 0.85714rem;
        margin-bottom: 20px;
      }
    }
  }
  #reuse {
    margin-top: 60px;
    text-align: center;
    .container {
      img {
        width: 100%;
      }
      h4 img {
        box-shadow: 5.67px 5.67px 5px rgba(113, 112, 112, 0.6);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=5.67, OffY=5.67, Color='#717070');
      }
      h5 {
        font-size: 24px;
        margin: 50px auto;
      }
      .reuse-sec01 {
        margin: 30px auto;
        background: #FFFFFF;
        background: rgba(255, 255, 255, 1);
        border-style: Solid;
        border-color: #EB9855;
        border-color: rgba(235, 152, 85, 1);
        border-width: 3px;
        -moz-border-radius: 11px;
        -webkit-border-radius: 11px;
        border-radius: 11px;
        p {
          margin: 20px auto;
          font-size: 19px;
          color: #231815;
          color: rgb(35, 24, 21);
        }
      }
      .tekkyo01 {
        max-width: 700px;
      }
      .reuse-otoiawase {
        display: block;
        width: 100%;
        background-color: #9b7655;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 60px auto;
        max-width: 700px;
        padding: 18px 0;
        box-shadow: 5.67px 5.67px 5px rgba(113, 112, 112, 0.6);
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=5.67, OffY=5.67, Color='#717070');
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
        font-weight: 900;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  #sekoustaff-kodawari a {
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  #sekouhouhou {
    margin-bottom: 80px;
    h2 {
      font-size: 1.6rem;
      span {
        font-size: 1.6rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
    .textarea {
      .title h3 {
        font-size: 30px;
        line-height: 42px;
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: fit-content;
        padding: 0;
      }
      h3 {
        color: #221815;
        font-size: 26px;
        line-height: 38px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        width: fit-content;
        padding: 4%;
        span {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .caption p {
        font-size: 16px;
        line-height: 24px;
        margin: 25px;
      }
    }
    .contents {
      width: 900px;
      margin: 0 auto;
      .sec01, .sec02, .sec03, .sec04, .sec05, .sec06, .sec07, .sec08 {
        height: 466px;
        width: 900px;
        position: relative;
      }
      .sec01, .sec02, .sec03, .sec04 {
        margin-bottom: 80px;
      }
      .sec05, .sec06, .sec07, .sec08 {
        margin-bottom: 40px;
      }
      .sec01 img, .sec03 img {
        width: 394px;
        height: 466px;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
      }
      .sec02 img, .sec04 img {
        width: 394px;
        height: 466px;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
      }
      .sec05 img, .sec07 img {
        width: 452px;
        height: 452px;
        position: absolute;
        top: 60px;
        left: 0;
      }
      .sec06 img, .sec08 img {
        width: 452px;
        height: 452px;
        position: absolute;
        top: 60px;
        right: 0;
      }
      .sec01 .textarea, .sec03 .textarea, .sec05 .textarea, .sec07 .textarea {
        position: absolute;
        width: 524px;
        height: 284px;
        top: 30px;
        right: 0;
        box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
        background-color: #ffffff;
      }
      .sec02 .textarea, .sec04 .textarea, .sec06 .textarea, .sec08 .textarea {
        position: absolute;
        width: 524px;
        height: 284px;
        top: 30px;
        left: 0;
        box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
        background-color: #ffffff;
      }
      .textarea {
        .title {
          width: 262px;
          height: 284px;
          background-color: #663300;
          float: left;
          position: relative;
        }
        .caption {
          width: 262px;
          height: 284px;
          float: right;
        }
      }
    }
  }
  #plan .plan {
    &#plan01 {
      ul {
        width: 980px;
        margin: 60px auto 0;
        li {
          float: left;
          width: 135px;
          height: auto;
          margin: 0 32px 27px 0;
          text-align: left;
          &:nth-child(6n) {
            margin-right: 0;
          }
          &#panel_e00 {
            width: 350px;
            margin: 0 40px 70px 0px;
          }
          &#panel_e01 {
            width: 257px;
            margin: 0 45px 65px 0;
          }
          &#panel_e02 {
            width: 255px;
            margin: 0 0 65px 0;
          }
          &#panel_e03 {
            width: 427px;
            margin: 0 117px 0 0;
          }
          p {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            line-height: 1;
            color: #181512;
            padding: 0 0 11px 5px;
            text-align: left;
          }
          img {
            width: 100%;
          }
        }
      }
      > img {
        display: block;
        margin: 110px auto 200px auto;
      }
    }
    &#plan02 {
      margin-bottom: 100px;
      h4 {
        font-size: 43px;
        font-weight: bold;
        color: #630;
        margin-top: 60px;
      }
      ul li {
        float: left;
        width: 15%;
        color: #630;
        margin: 5% 2% 0 0;
        &:nth-child(6n) {
          margin-right: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
        > p {
          text-align: center;
          font-size: 12px;
        }
      }
    }
    &#plan03 {
      margin-bottom: 100px;
      p#plan03_msg {
        font-size: 1.2857142857143rem;
        line-height: 2em;
        letter-spacing: 0.2em;
        color: #333;
        padding: 30px 0 40px 0;
      }
    }
  }
}

/*-----名古屋パーテーションのリユース-----*/

/*-----施工スタッフのこだわり-----*/

#quality_box {
  position: relative;
  width: 903px;
  height: auto;
  padding: 18px 30px 13px 30px;
  margin-left: 1px;
  border: 5px solid #541D00;
  border-radius: 3px;
  p {
    font-size: 1.1428571428571rem;
    line-height: 2em;
    letter-spacing: 0.1em;
    color: #531D00;
    &#quality_box_ttl {
      position: absolute;
      top: -12px;
      left: 30px;
      width: 220px;
      height: 30px;
      font-size: 1.4285714285714rem;
      font-weight: bold;
      line-height: 1;
      padding: 0 15px;
      background-color: #fff;
    }
  }
}

main #plan .plan#plan03 {
  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 972px;
    border: none;
    margin-top: 50px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    th, td {
      height: 71px;
      font-size: 1.1428571428571rem;
      color: #333;
      font-weight: normal;
      line-height: 1;
      padding: 0 0 0 20px;
      text-align: left;
      vertical-align: middle;
      border-top: 1px solid #999;
      border-left: 1px solid #999;
    }
    thead th {
      height: 48px;
      background-color: #FFCC99;
      &.testname {
        width: 156px;
      }
      &.testresult {
        width: 148px;
      }
    }
    tr:nth-child(even) {
      background-color: #F5F5F5;
    }
    tbody {
      th, td {
        letter-spacing: 0.1em;
      }
    }
    td.testmethod {
      font-size: 1rem;
      line-height: 1.5em;
    }
  }
  p#table_caution {
    font-size: 0.85714285714286rem;
    color: #333;
    text-align: right;
    letter-spacing: 0.1em;
    padding: 10px 15px 0 0;
  }
}

.pc_only {
  display: inline;
}

main {
  #plan .plan#plan04 {
    margin-bottom: 100px;
    ul li {
      float: left;
      width: 48%;
      color: #630;
      margin: 4% 4% 0 0;
      &:nth-child(2n) {
        margin-right: 0;
      }
      img {
        width: 100%;
        height: auto;
      }
      p {
        margin-left: 30px;
      }
    }
  }
  .contact {
    background: #fff2e5;
    h4 {
      background: rgba(102, 51, 0, 0.65);
      color: #fff;
      text-align: center;
      font-size: 1rem;
      line-height: 35px;
      font-weight: 700;
    }
    .clearfix {
      padding: 20px 0 40px;
      .info {
        line-height: 0;
        float: left;
      }
      .btn {
        float: right;
        text-align: right;
        .tel {
          display: block;
          margin: 25px 0 5px;
        }
        .mail {
          display: block;
          margin-right: -10px;
        }
      }
    }
  }
  #example01 {
    margin: 60px auto 0;
    ul li {
      width: 31%;
      float: left;
      margin: 0 3.5% 100px 0;
      color: #630;
      &:nth-child(3n) {
        margin-right: 0;
      }
      h4 {
        border-bottom: solid 1px #630;
        font-size: 1.14286rem;
        line-height: 30px;
        margin-bottom: 30px;
        img {
          display: inline-block;
          margin: -30px 10px -20px 0;
        }
      }
      table {
        margin-bottom: 30px;
        th {
          text-align: left;
          vertical-align: middle;
          padding-right: 10px;
        }
        td {
          text-align: left;
          vertical-align: top;
          padding: 5px 0;
        }
        tr {
          border-bottom: dashed 1px #630;
          &.price {
            border: none;
            td {
              padding: 20px 0;
              text-align: right;
              p {
                vertical-align: baseline;
                span {
                  font-size: 2.14286rem;
                  font-weight: 700;
                  display: inline-block;
                  vertical-align: baseline;
                }
              }
            }
          }
          &.misc {
            font-size: 0.85714rem;
          }
        }
      }
    }
  }
  #voice {
    background: #F8F6E7;
    padding: 60px 0;
    h4 {
      text-align: center;
      line-height: 0;
      margin-bottom: 40px;
    }
    ul li {
      width: 31%;
      float: left;
      margin: 0 3.5% 0 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
      h5 {
        color: #630;
        font-size: 1.28571rem;
        line-height: 1;
        margin-bottom: 20px;
        font-weight: 700;
      }
      h6 {
        margin-bottom: 30px;
      }
    }
  }
  #example02 {
    margin: 100px 0;
    ul li {
      float: left;
      width: 24.8%;
      height: auto;
      margin: 0.1%;
      line-height: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .sekoujirei-pdf {
    margin: 0 auto 40px;
    overflow: auto;
    font-size: 1.2em;
    p {
      margin: 0 auto 10px;
      display: inline-block;
    }
    a {
      text-decoration: none;
      display: inline-block;
      &:hover {
        opacity: 0.8;
      }
      &::after {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        background: url(../images/Adobe-pdf-logo.png) no-repeat center center;
        background-size: 17px 17px;
        padding-left: 10px;
      }
    }
  }
  #flow {
    margin-bottom: 80px;
    table {
      color: #630;
      th {
        text-align: right;
        width: 200px;
        padding-right: 80px;
        background: url(../images/kaku01.png) right center no-repeat;
        vertical-align: middle;
        font-size: 1.5rem;
        line-height: 1;
        &.n2 {
          background-image: url(../images/kaku02.png);
        }
        &.n3 {
          background-image: url(../images/kaku03.png);
        }
        &.n4 {
          background-image: url(../images/kaku04.png);
        }
        &.n5 {
          background-image: url(../images/kaku05.png);
        }
      }
      td {
        text-align: left;
        vertical-align: middle;
        padding-left: 40px;
        &.arrow {
          text-align: center;
          padding: 30px;
          line-height: 0;
        }
      }
    }
  }
  #faq {
    margin: 100px auto;
    table {
      width: 100%;
      border-bottom: dashed 1px #666;
      color: #630;
      th {
        font-size: 1.28571rem;
        width: 180px;
        padding-left: 20px;
        text-align: left;
      }
      td {
        position: relative;
        padding-left: 30px;
        &.qst {
          font-weight: 700;
          font-size: 1.28571rem;
          padding-top: 50px;
          &:before {
            display: block;
            position: absolute;
            content: "Q.";
            font-size: 1.28571rem;
            color: #F60;
            font-weight: 700;
            top: 50px;
            left: 0;
          }
        }
        &.ans {
          padding-bottom: 50px;
          padding-top: 3px;
          &.pb0 {
            padding-bottom: 0;
          }
          &:before {
            display: block;
            position: absolute;
            content: "A.";
            font-size: 1.28571rem;
            color: #F60;
            font-weight: 700;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
  #area {
    margin: 100px auto;
    #area-image {
      position: relative;
      a {
        transition: 0.3s;
        &:hover, &:focus {
          opacity: 0.5;
        }
      }
      #area01 {
        position: absolute;
        z-index: 2;
        top: 210px;
        left: 13px;
      }
      #area02 {
        position: absolute;
        z-index: 3;
        top: 107px;
        left: 296px;
      }
      #area03 {
        position: absolute;
        z-index: 4;
        top: 62px;
        left: 597px;
      }
    }
  }
  #company {
    .img {
      float: left;
      width: 50%;
      padding-top: 516px;
      background: url(../images/company.jpg) center center no-repeat;
      background-size: cover;
    }
    .txt {
      float: right;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 50%;
      background: #963;
      color: #fff;
      padding: 60px 50px;
      h4 {
        font-size: 2.14286rem;
        margin-bottom: 30px;
        img {
          display: block;
          margin-bottom: 10px;
        }
      }
      h5 {
        font-size: 1.14286rem;
        margin-bottom: 60px;
      }
      table {
        font-size: 0.85714rem;
        tr {
          border-bottom: dashed 1px #fff;
        }
        th, td {
          padding: 5px 10px;
			
			a{
				color:#ffffff;
				&:link,&:visited{
					color: #ffffff;
				}
			}
        }
      }
    }
  }
  #form {
    margin: 50px auto 100px;
    h2 {
      margin-bottom: 10px;
    }
    h4 {
      color: #630;
      font-weight: 700;
      text-align: center;
    }
    > p {
      margin: 60px 0;
      text-align: center;
      span {
        color: #F60;
      }
    }
    table {
      width: 100%;
      th {
        width: 260px;
        padding: 20px 10px;
        text-align: left;
        vertical-align: top;
        &.must:after {
          content: "※";
          display: block;
          float: right;
          color: #F60;
        }
      }
      td {
        padding: 10px 0;
        text-align: left;
        vertical-align: top;
        input {
          &[type="text"] {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            &[name="zip1"], &[name="zip2"] {
              width: 8em;
            }
            &[name="size1"], &[name="size2"], &[name="size3"] {
              width: 8em;
              margin: 0 5px;
            }
            &[name="estimate"] {
              width: 16em;
              margin-right: 5px;
            }
          }
          &[type="date"] {
            padding: 8px;
          }
        }
        select {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          &[name="pref"] {
            width: 10em;
            margin-bottom: 10px;
          }
          &[name="kiboujikan1"], &[name="kiboujikan2"] {
            width: 6em;
            margin-bottom: 10px;
          }
        }
        textarea {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          padding: 10px;
          &[name="content"] {
            height: 200px;
          }
        }
        ul {
          *zoom: 1;
          margin-top: 10px;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          li {
            float: left;
            margin-right: 20px;
          }
        }
        p {
          &.form-error {
            color: #F60;
            font-size: 0.85714rem;
            margin-top: 5px;
          }
          &.notice {
            font-size: 0.85714rem;
            margin-top: 5px;
          }
        }
        input[type="submit"] {
          width: 100%;
          border: none;
          background: #630;
          color: #fff;
          font-size: 1.71429rem;
          line-height: 50px;
          font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
          cursor: pointer;
          &:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
            opacity: 0.8;
          }
        }
      }
    }
    hr {
      border: none;
      border-bottom: dashed 1px #666;
    }
  }
}

footer {
  border-top: solid 1px #999;
  padding: 20px 0 100px;
	a{
		color:#333;
		&:link,&:visited{
			color: #333;
		}
	}
  .logo {
    display: block;
    float: left;
    margin-right: 80px;
  }
  p#copy {
    clear: both;
    margin-top: 20px;
    font-size: 0.71429rem;
  }
}

#banner {
  position: fixed;
  padding: 30px;
  bottom: 0;
  right: 0;
  line-height: 0;
  z-index: 5;
  li {
    float: right;
    margin-left: 30px;
  }
}

/*----------~700px----------*/
@media screen and (max-width: 700px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
  .container {
    width: 90%;
    margin: auto;
    max-height: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  br {
    &.pc {
      display: none;
    }
    &.sp {
      display: block;
    }
  }
  header {
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;
    .container {
      position: relative;
      h1 {
        font-size: 0.3em;
      }
      h2 {
        float: left;
        line-height: 0;
        margin: 21px 0;
      }
      .tel {
        float: left;
        line-height: 0;
        margin: 36px 0 36px 36px;
      }
      .mail {
        display: none;
      }
      #btn_menu {
        text-align: center;
        float: right;
        width: 64px;
        height: 64px;
        margin: 12px 0;
        position: relative;
        cursor: pointer;
        i {
          -moz-transition: all 0.5s ease-in-out 0s;
          -o-transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out;
          -webkit-transition-delay: 0s;
          transition: all 0.5s ease-in-out 0s;
          width: 40px;
          height: 16px;
          border-top: solid 2px #333;
          border-bottom: solid 2px #333;
          position: absolute;
          top: 20px;
          left: 12px;
          &:before, &:after {
            -moz-transition: all 0.5s ease-in-out 0s;
            -o-transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out;
            -webkit-transition-delay: 0s;
            transition: all 0.5s ease-in-out 0s;
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: #333;
            position: absolute;
            top: 7px;
            left: 0;
          }
        }
        span {
          display: block;
          font-family: 'Poppins', sans-serif;
          font-size: 0.64286rem;
          line-height: 1;
          width: 64px;
          height: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          &:after {
            content: "MENU";
          }
        }
        &:hover {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
          opacity: 0.8;
        }
        &.close {
          i {
            border-color: transparent;
            &:before {
              -moz-transform: rotate(135deg);
              -ms-transform: rotate(135deg);
              -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
            }
            &:after {
              -moz-transform: rotate(225deg);
              -ms-transform: rotate(225deg);
              -webkit-transform: rotate(225deg);
              transform: rotate(225deg);
            }
          }
          span:after {
            content: "CLOSE";
          }
        }
      }
      nav {
        -moz-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        -webkit-transition: all 0.5s ease-in-out;
        -webkit-transition-delay: 0s;
        transition: all 0.5s ease-in-out 0s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        position: absolute;
        top: 110px;
        right: 0;
        width: 240px;
        text-align: center;
        ul {
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          border-radius: 8px;
          border: solid 1px #fff;
          background: #630;
          li {
            border-bottom: dotted 1px #fff;
            a {
              display: block;
              -moz-transition: all 0.5s ease-in-out 0s;
              -o-transition: all 0.5s ease-in-out 0s;
              -webkit-transition: all 0.5s ease-in-out;
              -webkit-transition-delay: 0s;
              transition: all 0.5s ease-in-out 0s;
              font-size: 1rem;
              line-height: 40px;
              text-decoration: none;
              color: #fff;
              height: 0;
              -moz-transform: scale(1, 0);
              -ms-transform: scale(1, 0);
              -webkit-transform: scale(1, 0);
              transform: scale(1, 0);
              &:hover {
                background: #F60;
              }
            }
          }
        }
        &.active {
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
		  z-index: 1000;
          a {
            height: 40px;
            -moz-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
          }
        }
      }
    }
  }
  main {
    padding-top: 120px;
    min-width: unset;
    figure {
      position: relative;
      line-height: 0;
      height: 333px;
      #top01 {
        float: left;
        width: 80px;
        height: auto;
      }
      #top02 {
        float: right;
        margin-top: 20px;
        width: 460px;
        height: auto;
      }
      ul li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/slide01.jpg) center center no-repeat;
        background-size: cover;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease;
        -webkit-transition-delay: 0s;
        transition: all 0.5s ease 0s;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        z-index: -1;
        &.active {
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
        }
      }
    }
    #intro01 {
      background: url(../images/bg02.png) left top no-repeat;
      background-size: contain;
      margin-top: 100px;
      padding-top: 150px;
      font-size: 0.85714rem;
      color: #630;
      h4 {
        line-height: 0;
        margin-bottom: 20px;
      }
    }
    #intro02 {
      ul {
        margin-top: 40px;
        float: none;
        width: 560px;
        li {
          border-bottom: dashed 1px #630;
          font-size: 1.28571rem;
          line-height: 40px;
          color: #630;
          font-weight: 700;
          &:before {
            content: "◎";
            display: inline-block;
            padding: 0 10px;
            color: #F60;
            font-weight: 400;
          }
        }
      }
      .btn {
        margin-top: 20px;
        float: none;
        display: block;
        text-align: right;
        width: 100%;
        *zoom: 1;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        .tel {
          float: left;
          width: 49%;
        }
        .mail {
          width: 49%;
          float: right;
          margin-right: -15px;
          margin-top: 10px;
        }
      }
    }
    #intro03 {
      margin-top: 100px;
      background: url(../images/bg03.jpg) center center no-repeat;
      background-size: cover;
      padding: 70px 0;
      color: brown;
      h5 {
        font-size: 1.28571rem;
        font-weight: 700;
        color: #F60;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 1.71429rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        font-size: 1rem;
        line-height: 2;
      }
      h6 {
        margin-top: 60px;
        text-align: right;
        font-size: 1.14286rem;
        font-weight: 700;
        span {
          font-size: 1.71429rem;
        }
      }
    }
    #intro04 {
      background: url(../images/pattern01.png) center center repeat;
      padding: 30px 0;
      h4 {
        text-align: center;
      }
      ul li {
        float: left;
        color: #630;
        background: #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: solid 5px #630;
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
        width: 49%;
        padding: 15px;
        margin-top: 2%;
        margin-right: 2%;
        &:nth-child(3n) {
          margin-right: 2%;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        h5 {
          font-size: 2.28571rem;
          line-height: 1;
          margin-bottom: 20px;
          text-align: center;
          font-weight: 700;
        }
        p {
          font-size: 0.78571rem;
          line-height: 1.6;
        }
      }
    }
    h2 {
      background: url(../images/mark.png) left center no-repeat;
      height: 100px;
      padding-left: 125px;
      border-bottom: dashed 1px #333;
      color: #630;
      font-size: 2.71429rem;
      line-height: 1;
      text-align: left !important;
      margin-bottom: 80px;
      img {
        display: block;
        padding: 20px 0 10px 15px;
      }
      span {
        display: none;
        span {
          font-size: 2.14286rem;
        }
      }
      strong {
        font-weight: 700;
      }
    }
    #plan {
      margin-top: 120px;
      .plan {
        h3 {
          font-size: 4.57143rem;
          line-height: 1;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          margin-bottom: 20px;
          color: #630;
          img {
            display: block;
            margin-bottom: 20px;
          }
          span {
            display: inline-block;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            font-size: 1.28571rem;
            margin-left: 15px;
          }
        }
        > p {
          font-size: 0.85714rem;
          margin-bottom: 20px;
        }
      }
    }
    .sekoujirei-pdf {
      width: 90%;
      margin: 0 0 5%;
      .inner01 {
        width: 100%;
        text-align: center;
        img {
          width: 70%;
        }
      }
      .inner02 {
        width: 100%;
        font-size: 1.7rem;
        h3 {
          font-size: 2.2rem;
        }
      }
    }
    #sekouhouhou {
      .contents {
        width: 100%;
        .sec01, .sec02, .sec03, .sec04, .sec05, .sec06, .sec07, .sec08 {
          height: auto;
          width: 100%;
          position: static;
        }
        .sec01 img, .sec03 img, .sec02 img, .sec04 img {
          width: 100%;
          height: auto;
          position: static;
          box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
          float: left;
        }
        .sec05 img, .sec07 img, .sec06 img, .sec08 img {
          width: 100%;
          height: auto;
          position: static;
          float: left;
        }
        .sec01 .textarea, .sec03 .textarea, .sec05 .textarea, .sec07 .textarea, .sec02 .textarea, .sec04 .textarea, .sec06 .textarea, .sec08 .textarea {
          position: static;
          width: 100%;
          height: auto;
          box-shadow: 0px 18px 36.8px 3.2px rgba(0, 0, 0, 0.22);
          background-color: #ffffff;
          float: left;
        }
      }
      .textarea {
        .title h3 {
          font-size: 30px;
          line-height: 42px;
          color: #ffffff;
          position: absolute;
          top: 46%;
          left: 47%;
          -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
          width: fit-content;
        }
        h3 {
          color: #221815;
          font-size: 26px;
          line-height: 38px;
          position: static;
          width: fit-content;
          top: 0;
          left: 0;
          transform: translateY(0%) translateX(0%);
          margin: 5% auto;
          span {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
      .contents .textarea {
        .title {
          width: 50%;
          height: 250px;
          background-color: #663300;
          float: left;
          position: relative;
        }
        .caption {
          width: 50%;
          height: auto;
          float: right;
        }
      }
    }
    #plan .plan {
      &#plan01 {
        ul {
          width: auto;
          margin: 60px 5% 0;
          li {
            float: left;
            width: 22%;
            height: auto;
            margin: 0 3% 10% 0;
            text-align: left;
            img {
              width: 100%;
              height: auto;
            }
            &:nth-child(4n) {
              margin-right: 0;
            }
            &:nth-child(6n) {
              margin-right: 3%;
            }
            &#panel_e00 {
              width: 70%;
              height: auto;
              margin: 0 15% 10% 15%;
            }
            &#panel_e01 {
              width: 45%;
              height: auto;
              margin: 0 10% 10% 0;
            }
            &#panel_e02 {
              width: 45%;
              height: auto;
              margin: 0 0 10% 0;
            }
            &#panel_e03 {
              width: 45%;
              height: auto;
              margin: 0 10% 0 0;
            }
            p {
              font-family: 'Poppins', sans-serif;
              font-size: 1.2142857142857rem;
              line-height: 1;
              color: #181512;
              padding: 0 0 11px 5px;
              text-align: left;
            }
          }
        }
        > img {
          display: block;
          margin: 100px auto;
        }
      }
      &#plan02 {
        margin-bottom: 100px;
        ul li {
          float: left;
          width: 30%;
          color: #630;
          margin: 5% 5% 0 0;
          &:nth-child(3n) {
            margin-right: 0 !important;
          }
          &:nth-child(4n) {
            margin-right: 5%;
          }
          img {
            width: 100%;
            height: auto;
          }
          > p {
            font-size: 100%;
          }
        }
      }
      &#plan03 {
        margin-bottom: 100px;
        p#plan03_msg {
          font-size: 1.0714285714286rem;
          line-height: 2em;
          letter-spacing: 0.2em;
          color: #333;
          padding: 30px 0 40px 0;
        }
      }
    }
  }
  /*-----施工事例 PDFダウンロード-----*/
  /*-----施工方法 ~700px-----*/
  #quality_box {
    position: relative;
    width: auto;
    height: auto;
    padding: 20px 30px 13px 30px;
    margin-left: 1px;
    border: 5px solid #541D00;
    border-radius: 3px;
    p {
      font-size: 1.0714285714286rem;
      line-height: 1.8em;
      letter-spacing: 0.1em;
      color: #531D00;
      &#quality_box_ttl {
        position: absolute;
        top: -10px;
        left: 25px;
        width: 200px;
        height: 30px;
        font-size: 1.2857142857143rem;
        font-weight: bold;
        line-height: 1;
        padding: 0 15px;
        background-color: #fff;
      }
    }
  }
  main #plan .plan#plan03 table {
    border-collapse: separate;
    border-spacing: 0;
    width: auto;
    border: none;
    margin-top: 50px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    th, td {
      display: block;
      width: auto;
      height: auto;
      font-size: 1rem;
      color: #333;
      font-weight: normal;
      line-height: 1;
      padding: 10px 30px;
      text-align: left;
      vertical-align: middle;
      border-top: 1px solid #999;
      border-left: 1px solid #999;
    }
    thead th {
      height: auto;
      background-color: #fff;
      &.testname {
        width: auto;
      }
      &.testmethod, &.testresult {
        width: auto;
        border-top: 1px dotted #999;
      }
    }
    tr:nth-child(even) {
      background-color: #fff;
    }
    thead th.testname {
      font-size: 1.0714285714286rem;
      font-weight: bold;
      padding: 15px 20px;
      background-color: #FFCC99;
    }
    tbody {
      th {
        font-size: 1.0714285714286rem;
        font-weight: bold;
        padding: 15px 20px;
        background-color: #FFCC99;
      }
      td {
        border-top: 1px dotted #999;
      }
    }
  }
  ain #plan .plan#plan03 table tbody th {
    letter-spacing: 0.1em;
  }
  main #plan .plan#plan03 {
    table {
      tbody td {
        letter-spacing: 0.1em;
      }
      thead th.testresult {
        background-color: #F5F5F5;
      }
      td {
        &:nth-child(3) {
          background-color: #F5F5F5;
        }
        &.testmethod {
          font-size: 0.92857142857143rem;
          line-height: 1.5em;
        }
      }
    }
    p#table_caution {
      font-size: 0.85714285714286rem;
      color: #333;
      text-align: right;
      letter-spacing: 0.1em;
      padding: 10px 15px 0 0;
    }
  }
  .pc_only {
    display: none;
  }
  main {
    #plan .plan#plan04 {
      margin-bottom: 100px;
      ul li {
        float: left;
        width: 48%;
        color: #630;
        margin: 4% 4% 0 0;
        &:nth-child(2n) {
          margin-right: 0;
        }
        img {
          width: 100%;
          height: auto;
        }
        p {
          margin-left: 20px;
          font-size: 0.85714rem;
        }
      }
    }
    .contact {
      background: #fff2e5;
      h4 {
        background: rgba(102, 51, 0, 0.65);
        color: #fff;
        text-align: center;
        font-size: 0.85714rem;
        line-height: 35px;
        font-weight: 700;
      }
      .clearfix {
        padding: 20px 0 40px;
        .info {
          line-height: 0;
          float: none;
        }
        .btn {
          float: none;
          text-align: right;
          *zoom: 1;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          .tel {
            width: 48%;
            float: left;
            display: block;
            margin: 30px 0 0;
          }
          .mail {
            width: 49%;
            float: right;
            display: block;
            margin: 10px 0;
          }
        }
      }
    }
    #example01 {
      margin: 60px auto 0;
      ul li {
        width: 300px;
        float: none;
        margin: 0 auto 80px;
        color: #630;
        &:nth-child(3n) {
          margin-right: auto;
        }
        h4 {
          border-bottom: solid 1px #630;
          font-size: 1.14286rem;
          line-height: 30px;
          margin-bottom: 30px;
          img {
            display: inline-block;
            margin: -30px 10px -20px 0;
          }
        }
        table {
          margin-bottom: 30px;
          th {
            text-align: left;
            vertical-align: middle;
            padding-right: 10px;
          }
          td {
            text-align: left;
            vertical-align: top;
            padding: 5px 0;
          }
          tr {
            border-bottom: dashed 1px #630;
            &.price {
              border: none;
              td {
                padding: 20px 0;
                text-align: right;
                p {
                  vertical-align: baseline;
                  span {
                    font-size: 2.14286rem;
                    font-weight: 700;
                    display: inline-block;
                    vertical-align: baseline;
                  }
                }
              }
            }
            &.misc {
              font-size: 0.85714rem;
            }
          }
        }
      }
    }
    #voice {
      background: #F8F6E7;
      padding: 60px 0;
      h4 {
        text-align: center;
        line-height: 0;
        margin-bottom: 40px;
      }
      ul li {
        width: 100%;
        float: none;
        margin: 0 0 40px 0;
        &:nth-child(3n) {
          margin-right: 0;
        }
        h5 {
          color: #630;
          font-size: 1.28571rem;
          line-height: 1;
          margin-bottom: 20px;
          font-weight: 700;
        }
        h6 {
          margin-bottom: 30px;
        }
      }
    }
    #example02 {
      margin: 100px 0;
      ul li {
        float: left;
        width: 24.8%;
        height: auto;
        margin: 0.1%;
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    #flow table {
      color: #630;
      th {
        display: block;
        text-align: left;
        width: 200px;
        padding: 0 0 0 80px;
        background: url(../images/kaku01.png) left center no-repeat;
        vertical-align: middle;
        font-size: 1.5rem;
        line-height: 45px;
        &.n2 {
          background-image: url(../images/kaku02.png);
        }
        &.n3 {
          background-image: url(../images/kaku03.png);
        }
        &.n4 {
          background-image: url(../images/kaku04.png);
        }
        &.n5 {
          background-image: url(../images/kaku05.png);
        }
      }
      td {
        display: block;
        text-align: left;
        vertical-align: middle;
        padding-left: 0;
        padding-top: 20px;
        &.arrow {
          text-align: center;
          padding: 30px;
          line-height: 0;
        }
      }
    }
    #faq {
      margin: 100px auto;
      table {
        width: 100%;
        border-bottom: dashed 1px #666;
        color: #630;
        th {
          font-size: 1.28571rem;
          width: 180px;
          padding-left: 20px;
          text-align: left;
        }
        td {
          position: relative;
          padding-left: 30px;
          &.qst {
            font-weight: 700;
            font-size: 1.28571rem;
            padding-top: 50px;
            &:before {
              display: block;
              position: absolute;
              content: "Q.";
              font-size: 1.28571rem;
              color: #F60;
              font-weight: 700;
              top: 50px;
              left: 0;
            }
          }
          &.ans {
            padding-bottom: 50px;
            padding-top: 3px;
            &.pb0 {
              padding-bottom: 0;
            }
            &:before {
              display: block;
              position: absolute;
              content: "A.";
              font-size: 1.28571rem;
              color: #F60;
              font-weight: 700;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    #area {
      margin: 100px auto;
      #area-image {
        #area01 {
          width: 34%;
          top: 35%;
          left: 4%;
        }
        #area02 {
          width: 34%;
          top: 19%;
          left: 32%;
        }
        #area03 {
          width: 34%;
          top: 15%;
          left: 62%;
        }
      }
    }
    #company {
      .img {
        display: none;
        float: none;
        width: 50%;
        padding-top: 516px;
        background: url(../images/company.jpg) center center no-repeat;
        background-size: cover;
      }
      .txt {
        float: none;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        background: #963;
        color: #fff;
        padding: 60px 50px;
        h4 {
          font-size: 2.14286rem;
          margin-bottom: 30px;
          img {
            display: block;
            margin-bottom: 10px;
          }
        }
        h5 {
          font-size: 1.14286rem;
          margin-bottom: 60px;
        }
        table {
          font-size: 0.85714rem;
          width: 100%;
          tr {
            border-bottom: dashed 1px #fff;
          }
          th, td {
            padding: 5px 10px;
          }
        }
      }
    }
    #form {
      margin: 50px auto 100px;
      h2 {
        margin-bottom: 10px;
      }
      h4 {
        color: #630;
        font-weight: 700;
        text-align: center;
        font-size: 0.85714rem;
        line-height: 1.6;
        letter-spacing: -0.05em;
      }
      > p {
        margin: 60px 0;
        text-align: center;
        span {
          color: #F60;
        }
      }
      table {
        width: 100%;
        th {
          display: block;
          width: 260px;
          padding: 20px 10px 0 0;
          text-align: left;
          vertical-align: top;
          font-weight: 700;
          color: #630;
          &.must:after {
            content: "※";
            display: inline-block;
            float: none;
            color: #F60;
            margin-left: 20px;
          }
        }
        td {
          display: block;
          padding: 10px 0;
          text-align: left;
          vertical-align: top;
          input {
            &[type="text"] {
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              &[name="zip1"], &[name="zip2"] {
                width: 8em;
              }
              &[name="size1"], &[name="size2"], &[name="size3"] {
                width: 8em;
                margin: 0 5px;
              }
              &[name="estimate"] {
                width: 16em;
                margin-right: 5px;
              }
            }
            &[type="date"] {
              padding: 8px;
            }
          }
          select {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            &[name="pref"] {
              width: 10em;
              margin-bottom: 10px;
            }
            &[name="kiboujikan1"], &[name="kiboujikan2"] {
              width: 6em;
              margin-bottom: 10px;
            }
          }
          textarea {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            &[name="content"] {
              height: 200px;
            }
          }
          ul {
            *zoom: 1;
            margin-top: 10px;
            &:after {
              content: "";
              display: table;
              clear: both;
            }
            li {
              float: left;
              margin-right: 20px;
            }
          }
          p {
            &.form-error {
              color: #F60;
              font-size: 0.85714rem;
              margin-top: 5px;
            }
            &.notice {
              font-size: 0.85714rem;
              margin-top: 5px;
            }
          }
          input[type="submit"] {
            width: 100%;
            border: none;
            background: #630;
            color: #fff;
            font-size: 1.71429rem;
            line-height: 50px;
            font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
            cursor: pointer;
            &:hover {
              filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
              opacity: 0.8;
            }
          }
        }
      }
      hr {
        border: none;
        border-bottom: dashed 1px #666;
      }
    }
  }
  footer {
    border-top: solid 1px #999;
    padding: 20px 0 160px;
    .logo {
      display: block;
      float: left;
      margin: 0 0 40px;
      width: 180px;
    }
    p {
      float: right;
      &#copy {
        float: none;
        clear: both;
        margin-top: 20px;
        font-size: 0.71429rem;
      }
    }
  }
  #banner {
    position: fixed;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    bottom: 0;
    right: 0;
    line-height: 0;
    li {
      float: right;
      margin: 0;
      &:last-child {
        float: left;
      }
    }
  }
}