RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.nagoya-partition\.com
RewriteRule ^(.*)$ https://nagoya-partition.com/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index\.(html)
RewriteRule ^(.*)index\.(html)$ https://nagoya-partition.com/$1 [R=301,L]

RewriteRule ^lp/(.*) https://nagoya-partition.com [R=301,L]

RewriteRule ^contact.html https://nagoya-partition.com/contact/ [R=301,L]

RewriteRule ^sekouhouhou.html https://nagoya-partition.com/sekoustaff/ [R=301,L]

RewriteRule ^contact_partner.html https://nagoya-partition.com/contact/ [R=301,L]

RewriteRule ^ホームページセクション/(.*) https://nagoya-partition.com [R=301,L]

RewriteRule ^sekoujirei.pdf https://nagoya-partition.com/wp/wp-content/downloads/sekoujirei.pdf [R=301,L]

RewriteRule ^gc_partner_sample-01.pdf https://nagoya-partition.com/wp/wp-content/downloads/gc_partner_sample-01.pdf [R=301,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wp/index.php [L]
</IfModule>

# END WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>

<files wp-config.php>
order allow,deny
deny from all
</files>

<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>
